.primary-color {
    color: black !important;
}

.primary-bg-color {
    background-color: black !important;
}

.secondary-color {
    color: #c33764 !important;
}

.secondary-bg-color {
    background-color: #c33764 !important;
}